---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - servicemonitor.yml
  - service.yml
  - deployment.yml

configMapGenerator:
  - name: jenkins-exporter
    literals: []

secretGenerator:
  - name: jenkins-exporter
    literals: []

images:
  - name: jenkins-exporter
    newName: quay.io/promhippie/jenkins-exporter
    newTag: latest@sha256:c1699fda9128017626aecd471677cfb58fb2374fc545d8bf1b4ec33ee360f59d

...
