---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - servicemonitor.yml
  - service.yml
  - deployment.yml

configMapGenerator:
  - name: jenkins-exporter
    literals: []

secretGenerator:
  - name: jenkins-exporter
    literals: []

images:
  - name: jenkins-exporter
    newName: quay.io/promhippie/jenkins-exporter
    newTag: latest@sha256:89095673c18856fd52286470ae2695f5f5b586c0236f876a3e0d119432530bce

...
